@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>QA System</h1>
    <p class="lead">It is a System that enables us to connect through asking and answering questions in infinite Fields.</p>
</div>
