
@{
    ViewBag.Title = "UserVerified";
}

<h2>User Verified</h2>

<div class="alert alert-success">
    <strong>Success!</strong> Your account has been registered sussefully!! Clich Here to @Html.ActionLink("Log in", "Login", "User")
</div> 

